:root{
    --fundo: #3e328f;
    --cartao-frente: #a78d9e;
    --cartão-verso: #74819d;
    --destaque: #ece071;
    --preto: #f9ebc4;
    --branco: #000000;
   }
                                          
   body{
       background-color: var(--fundo);
   }

   header{
    background-color: var(--preto);
    padding: 40px;
    display: flex;
    justify-content: space-around;
   }

header a{
    color: var(--branco);
}

   footer{
   position: fixed;
   bottom: 0;
   background-color: var(--branco);
   color: var(--destaque);
   width: 100%;
   text-align: center;
   }

   #container{
    display: grid;
    padding: 40px;
    gap: 4rem;
   }

   .conteudo-cartao{
    background-color: var(--cartao-frente);
    padding: 40px;
    box-shadow: 8px 8px 25px var(--branco);
    color: var(--preto);
    cursor: pointer;
   }

   .conteudo-resposta{
    padding: 40px;
    background-color: var(--cartão-verso);
    display: none;
   }

   .conteudo-cartao:hover{
    transform: scale(1.04);
   }

