:root{
    --fundo: #3e328f;
    --cartão-frente: #a78d9e;
    --cartão-verso: #74819d;
    --destaque: #cfbb00;
    --preto: #f9ebc4;
    --branco: #000000;
   }
                                          
   body{
       background-color: var(--fundo);
   }

   footer{
   position: fixed;
   bottom: 0;
   background-color: var(--branco);
   color: var(--destaque);
   width: 100%;
   text-align: center;
   }

   #container{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 3rem;
    justify-content:space-between
   }

   .cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
   }
